<nz-table #table [nzData]="prices()" [nzShowPagination]="false">
	<thead>
		<tr>
			<th nzAlign="center">Shop</th>
			<th nzAlign="center">Price</th>
			<th nzAlign="center">Amount</th>
		</tr>
	</thead>
	<tbody>
		@for (price of table.data; track price) {
		<tr>
			<td nzAlign="center">
				<a [href]="price.link" target="_blank" nz-button nzType="text">
					<span nz-icon nzType="export" nzTheme="outline"></span>{{ price.shop }}
				</a>
			</td>
			<td nzAlign="center">{{ price.price }}</td>
			<td nzAlign="center">{{ price.amount }}&nbsp;{{ price.unit }}</td>
		</tr>
		}
	</tbody>
</nz-table>
