<nz-table
	#table
	[attr.data-test-id]="OverviewTestId.Table"
	[nzData]="data()"
	[nzLoading]="isLoading()"
	[nzShowPagination]="false"
>
	<thead>
		<tr>
			<th nzAlign="center">Name</th>
			<th nzAlign="center">Manufacturer</th>
			<th nzAlign="center">Lowest price per 100g</th>
			<th nzAlign="center">Average price per 100g</th>
			<th nzAlign="center">Cheapest shop</th>
			<th nzAlign="center">Details</th>
		</tr>
	</thead>
	<tbody>
		@for (data of table.data; track data.id; let i = $index) {
		<tr [attr.data-test-id]="OverviewTestId.TableRow">
			<td nzAlign="center" [attr.data-test-id]="OverviewTestId.NameRow + i">{{ data.name }}</td>
			<td nzAlign="center" [attr.data-test-id]="OverviewTestId.BrandRow + i">{{ data.brand }}</td>
			<td nzAlign="center" [attr.data-test-id]="OverviewTestId.LowestPricePer100gRow + i">
				{{ data.lowestPrice100g?.pricePer100g }}
			</td>
			<td nzAlign="center" [attr.data-test-id]="OverviewTestId.AveragePricePer100gRow + i">{{ data.avgPrice100g }}</td>
			<td nzAlign="center" [attr.data-test-id]="OverviewTestId.CheapestShopRow + i">
				@if(data.lowestPrice100g; as price) {
				<a [href]="price.link" target="_blank" nz-button nzType="text">
					<span nz-icon nzType="export" nzTheme="outline"></span>{{ price.shop }}</a
				>
				}
			</td>
			<td nzAlign="center" [attr.data-test-id]="OverviewTestId.DetailsRow + i">
				<button nz-button nzType="dashed" [routerLink]="[data.id]">Details</button>
			</td>
		</tr>
		}
	</tbody>
</nz-table>
